.mesa{
    width: 100%;
   display: flex;
   flex-direction: column;
   overflow-y: scroll;
   overflow-x: hidden;
   position: relative;
}

.mesa .voltar{
    width: 40px;
    height: 40px;
    background: rgb(255, 51, 51);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    font-weight: 900;
    position: absolute;
    left: 2%;
    top: 2%;
}

.voltar img{
    width: 30px;
    height: 30px;
    rotate: 90deg;
}

.mesa .itensContainer{
    width: 100%;
    min-height: 50vh;
    display: flex;
    margin-top: 3em;
    margin-left: 10em;
    gap: 5em;
    flex-wrap: wrap;
}

.cardProduto{
    width: 600px;
    height: 9em;
    display: flex;
    border-radius: 10px;
    font-size: 1.2em;
    overflow: hidden;
}

.cardProduto .cardEsq{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.descProduto{
    font-size: .8em;
    color: rgba(0, 0, 0, 0.584);
}

.preco{
    display: flex;
    gap: .2em;
}

.preco span{
    font-size: .8em;
}


.cardProduto img{
    max-width: 10em;
    max-height: 10em;
    object-fit: cover;
    border-radius: 10px;
}

.cardProduto h1{
    font-size: 1.3em;
    color: red;
    font-weight: 400;
}

.preco .precoProduto{
    color: black;
}

.tituloProduto{
    text-overflow: ellipsis;
}

.cardProduto .tituloCard{
    font-size: 1.8em;
    margin-bottom: 0.1em;
    color: #EF233C;
}


.cardProduto .preco{
    margin-top: 0.1em;
    font-size: 1.8em;
}

.cardEsq{
    display: flex;
    flex-direction: column;
   justify-content: center;
   margin-left: 0.5em;
}

.cardProduto span{
    color: #EF233C;
}

.mesa .pedido{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    min-height: 300px;
    border: 1px solid red;
    border-radius: 10px;
    padding: 10px;
    background: white;
    position: fixed;
    bottom: 2%;
    left: 15%;
}

.pedido .btnPedido{
    width: 30px;
    height: 30px;
    position: absolute;
    background: red;
}

.pedido .pedidoLista{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.pedidoLista .cardPedido{
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.21);
}

.pedido .pedidoTotal{
    width: 90%;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 10px;
    left: 0%;
    bottom: 0%;
}

.pedido .produtoPreco{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.produtoPreco p{
    font-size: 1.3em;
    color: red;
}

