.renda{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0em 3em;
}

.renda .containerCardsRenda{
  width: 100%;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.containerCardsRenda .cardTotalSalario{
  width: 800px;
  height: 200px;
  background: rgba(255, 255, 255, 0.775);
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.169);
  padding: 20px 10px;
}

.titleCard{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  gap: .5em;
  font-size: 1.1em;
  color: #0000005b;
}

.titleCard img{
  width: 40px;
  height: 40px;
  padding: 5px;
  background: rgba(255, 0, 0, 0.16);
  border-radius: 50%;
}

.cardTotalSalario .totalFuncionarios{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.totalFuncionarios p{
  color: #0000005b;
  font-size: 1.2em;
}

.totalFuncionarios i{
  font-size: 1em;
  color: #0000005b;
}

.totalFuncionarios span{
  font-size: 2em;
}


.containerCardsRenda .cardTotalPedidos{
  width: 800px;
  height: 200px;
  background: rgba(255, 255, 255, 0.775);
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.169);
  padding: 20px 10px;
}

.totalPedidos p{
  color: #0000005b;
  font-size: 1.2em;
}

.totalPedidos  span{
  font-size: 2em;
}

.cardTotalPedidos .totalPedidos{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}