.mesas{
    width: 94vw;
    margin-left: 6vw;
   display: flex;
   text-align: center;
   flex-direction: column;
   align-items: center;
   overflow-y: scroll;
}

.mesas form{
    width: 30%;
    display: flex;
}

.mesas .mesasContainer{
    max-width: 95vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5em;
}

.mesaCard{
    width: 300px;
    height: 300px;
    background: rgb(255, 255, 255);
    border: 1px solid red;
    border-radius: 10px;
    color: black;
}

.mesaCard p{
    font-size: 5em;
}