.mesas{
    width: 100%;
   display: flex;
   text-align: center;
   align-items: center;
   flex-direction: column;
   overflow-y: scroll;
   overflow-x: hidden;
}

.mesas form{
    width: 30%;
    display: flex;
}

.mesas .mesasContainer{
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 1em;
}

.mesaCard{
    width: 300px;
    height: 300px;
    background: rgb(255, 255, 255);
    border: 1px solid red;
    border-radius: 10px;
    color: black;
    position: relative;
}

.mesaCard .deleteMesa{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    color: white;
    font-weight: bolder;
    background: red;
    position: absolute;
    left: -10px;
    top: -10px;
    cursor: pointer;
    transition: .2s;
}

.mesaCard p{
    font-size: 2em;
}

.mesaCard img{
    width: 150px;
    height: 150px;
}