.editCardapio{
   width: 100vw;
   display: flex;
   align-items: center;
   flex-direction: column;
}

input[type="file"]{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

input[type="file"]:focus{
    box-shadow: none;
}

.editCardapio form{
    width: 650px;
    height: auto;
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    border: 1px solid red;
    border-radius: 10px;
    padding: 10px;
}

form .uploadImagemProduto{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.uploadImagemProduto .imagePreview, .imagePreview img{
    width: 250px;
    height: 250px;
    border: 1px solid red;
    border-radius: 15px;
}

form .infoProdutos{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.infoProdutos button{
    height: 40px;
}

.item{
    width: 300px;
    height: 300px;
    border: 1px solid red;
}

.item h3,p{
    color: black;
}

.item img{
    width: 250px;
    height: 250px;
}

.itensContainer{
    width: 100vw;
    height: 50vh;

}

.cardapioItens{
    margin-top: 4em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
    height: 9em;
    border-radius: 1em;
    font-size: 1.2em;
}

.card img{
    width: 10em;
}

.card .tituloCard{
    font-size: 1.8em;
    margin-bottom: 0.1em;
    color: #EF233C;
}


.card .preco{
    margin-top: 0.1em;
    font-size: 1.8em;
}

.cardEsq{
    display: flex;
    flex-direction: column;
   justify-content: center;
   margin-left: 0.5em;
}

.card span{
    color: #EF233C;
}
