.editCardapio{
    width: 100%;
   display: flex;
   align-items: center;
   flex-direction: column;
   overflow-y: scroll;
   overflow-x: hidden;
}

input[type="file"]:focus{
    box-shadow: none;
}

.editCardapio form{
    width: 650px;
    height: auto;
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    background: rgba(156, 0, 0, 0.119);
    border: 1px solid red;
    border-radius: 10px;
    padding: 10px;
}

form .uploadImagemProduto{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.uploadImagemProduto .imagePreview, .imagePreview img{
    width: 250px;
    height: 250px;
    border: 1px solid red;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    background: white;
}

.imagePreview p{
    color: rgba(0, 0, 0, 0.421);
}

input[type="file"] {
    display: none;
}

.enviarImagem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: .5em;
    text-align: center;
    padding: 20px 10px;
    width: 80%;
    height: 40px;
    background: rgba(255, 0, 0, 0.141);
    border: 1px solid red;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.792);
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

label img{
    width: 30px;
    height: 30px;
}

form .infoProdutos{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

form textarea{
    height: auto;
    border: none;
    resize: none;
    border-radius: 15px;
    padding: 15px;
    font-size: 1.2em;
    margin-bottom: 20px;
    border: 1px solid black;
    transition: .2s;
}

textarea:focus{
    box-shadow: 0px 0px 0px 3px #ef233b90;
    outline: none;
    transition: .2s;
}

.infoProdutos button{
    height: 40px;
}

.editCardapio .allItensContainer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-top: 4em;
    flex-wrap: wrap;
}

.cardProduto{
    width: 600px;
    height: 9em;
    display: flex;
    border-radius: 1em;
    font-size: 1.2em;
    position: relative;
    margin-bottom: 50px;
}

.descProduto{
    font-size: .8em;
    color: rgba(0, 0, 0, 0.584);
}


.cardProduto .deleteProduto{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    color: white;
    font-weight: bolder;
    background: red;
    position: absolute;
    left: -10px;
    top: -10px;
    cursor: pointer;
    transition: .2s;
}

.deleteProduto:hover{
    background: rgb(177, 0, 0);
    transition: .2s;
}

.cardProduto .cardEsq{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.preco{
    display: flex;
    gap: .2em;
}

.preco span{
    font-size: .8em;
}

.preco p{
    font-size: .8em;
}

.cardProduto img{
    max-width: 10em;
    max-height: 10em;
    object-fit: cover;
    border-radius: 10px;
}

.cardProduto h1{
    font-size: 1.2em;
    color: red;
    font-weight: 400;
   
}

.preco .precoProduto{
    color: black;
}

.tituloProduto{
    text-overflow: ellipsis;
}

.cardProduto .tituloCard{
    font-size: 1.8em;
    margin-bottom: 0.1em;
    color: #EF233C;
}


.cardProduto .preco{
    margin-top: 0.1em;
    font-size: 1.8em;
}

.cardEsq{
    display: flex;
    flex-direction: column;
   justify-content: center;
   margin-left: 0.5em;
}

.cardProduto span{
    color: #EF233C;
}

.editCardapio .navItens{
    width: 80%;
    display: flex;
    margin-top: 50px;
    border-bottom: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.containerProdutos{
    width: 80%;
    height: 50%;
    display: flex;
    
}

.navItens button{
    width: 33.33%;
    height: 50px;
    border: none;
    background: none;
    font-size: 1.5em;
    transition: .2s;
    cursor: pointer;
}
 
 
.navItens > button:hover{
    background: #b8b8b898;
}

.active:hover{
    background: #b8b8b898;
}


.itensContainer .pratosPrincipais, .bebidas, .outros{
    width: 100%;
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
}

.allItensContainer .itensContainer{
  width: 80%;
  display: flex;
  padding:0em 5em;
}

.editCardapio .btnsAreaProduto{
  width: 80%;
    display: flex;
    margin-top: 50px;
    border-bottom: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.btnsAreaProduto button{
  width: 33.33%;
  height: 50px;
  border: none;
  background: none;
  font-size: 1.5em;
  transition: .2s;
  cursor: pointer;
}

.btnsAreaProduto button:hover{
  background: #b8b8b898;
}

.btnsAreaProduto button:focus{
  background: #b8b8b898;
}

@media (max-width: 1024px){
  .editCardapio{
    margin-bottom: 100px;
  }

  .editCardapio form{
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .editCardapio form .infoProdutos{
    width: 100%;
  }

  .editCardapio form .uploadImagemProduto{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }

    .uploadImagemProduto .enviarImagem{
      width: 55%;
    }

  .allItensContainer .itensContainer{
    width: 100%;
    height: auto;
    
    display: flex;
  }

  .cardProduto{
    width: auto;

  }

  .cardProduto .tituloProduto{
    font-size: 1.2em;
  }

  .cardProduto .descProduto{
    font-size: .8em;
  }

  .cardProduto .preco span{
    font-size: .7em;
  }

  .btnsAreaProduto{
    height: auto;
    
    font-size: .8em;
    padding: 10px;
  }

  .btnsAreaProduto button{
    border-radius: 10px;
  }
}